<!-- File name: footer.ejs
     Author's name: Lei Han
     website name: N/A
     description: this is a partial file, footer. there is a copy right and one link to the heroku page.-->
<!-- Footer -->
<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://lei-company-portfolio-site.herokuapp.com/"> Lei Han Website Building Company</a>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->