<!-- File name: about.ejs
     Author's name: Lei Han
     website name: https://lei-company-portfolio-site.herokuapp.com/about
     description: this is about page, something about this company-->

<!--add header here-->
<%- include('../partials/header')-%>
<p>This is  <%= title %> page</p>
<p>You can find our company's history and some fun stories here</p>
<!--add footer here-->
<%- include('../partials/footer')-%>