<!-- File name: about.ejs
     Author's name: Lei Han
     website name:
     description: this is a partial file, header. there are some nav bar here.-->
<%- include('../partials/header')-%>
<p>This is  <%= title %> page</p>
<p>You can find our company's history and some fun stories here</p>
<%- include('../partials/footer')-%>