<!-- File name: contact.ejs
     Author's name: Lei Han
     website name: https://lei-company-portfolio-site.herokuapp.com/contact
     description: this is contact page, show contact information about this company-->

<!--add header here-->
<%- include('../partials/header')-%>

<p>This is  <%= title %> page</p>

<!--add footer here-->
<%- include('../partials/footer')-%>