<!-- File name: contact.ejs
     Author's name: Lei Han
     website name: https://lei-company-portfolio-site.herokuapp.com/contact
     description: this is contact page, show contact information about this company-->

<!--add header here-->
<%- include('../partials/header')-%>
<link rel='stylesheet' href='/stylesheets/style.css' />

<p>This is  <%= title %> page</p>
<p>get started today by contacting us below</p>
<p>phone: 888-888-8888</p>
<p>Address: 888 Georgian Rd, Barrie, Ontario L8K8P8</p>

<!--add footer here-->
<%- include('../partials/footer')-%>