<%- include('../partials/header')-%>
<p>This is  <%= title %> page</p>
<p>At here, you can see some our perfect projects.</p>
<p>If you want some more awesome websites, just call us</p>
<%- include('../partials/footer')-%>