<!-- File name: projects.ejs
     Author's name: Lei Han
     website name: https://lei-company-portfolio-site.herokuapp.com/projects
     description: this is projects page, show something about company's projects-->

<!--add header here-->
<%- include('../partials/header')-%>
<link rel='stylesheet' href='/stylesheets/style.css' />

<p>This is  <%= title %> page</p>
<p>At here, you can see some our perfect projects.</p>
<p>If you want some more awesome websites, just call us</p>

<!--add footer here-->
<%- include('../partials/footer')-%>