<!-- File name: services.ejs
     Author's name: Lei Han
     website name: https://lei-company-portfolio-site.herokuapp.com/services
     description: this is services page, show something about company's services-->

<!--add header here-->
<%- include('../partials/header')-%>

<p>This is  <%= title %> page</p>

<!--add footer here-->
<%- include('../partials/footer')-%>