<!-- File name: services.ejs
     Author's name: Lei Han
     website name: https://lei-company-portfolio-site.herokuapp.com/services
     description: this is services page, show something about company's services-->

<!--add header here-->
<%- include('../partials/header')-%>
<link rel='stylesheet' href='/stylesheets/style.css' />

<p>This is  <%= title %> page</p>
<p>We offer web design, web hosting, domain search and graphic design</p>

<!--add footer here-->
<%- include('../partials/footer')-%>